<%- include("../partials/Rus/PagesTitle"); -%>
<title>Днепро-Бугский Морской Торговый Порт</title>
<%- include("../partials/Rus/PagesNavbar"); -%>
<article class="white-section">
	<h2>Днепро-Бугский Морской Торговый Порт</h2>
	<hr>
	<h3>Общая информация</h3>
	<p>Днепро-Бугский порт расположен на левом берегу Бугского лимана, в 10 милях к югу от порта Николаев и 32 милях от
		Черного моря.</p>
	<h3>Специализация</h3>
	<p>Порт специализирован на приеме импортных бокситов для Николаевского глиноземного завода и Запорожского
		алюминиевого комбината. В порту организована экспортная первалка грузов: уксусная кислота, глинозем, меласса,
		мазут.</p>
	<h3>Портовые Мощности</h3>
	<p>Порт имеет 10 причалов с общей длиной 810 м. Порт имеет два железнодорожных пути, автомобильные подъезды к
		причалам. Комплекс по переработке патоки (мелассы) имеет емкости для накопления мелассы общей вместимостью 20
		тыс. т. Комплекс по
		переработке мазута имеет 6 резервуаров для накопления мазута с пропускной способностью - 1 млн. т в год. Порт
		имеет открытую площадку (15 800 кв.м) для хранения 150 тыс. т бокситов и открытую площадку для хранения
		генеральных грузов.</p>
	<h3>Особенности Порта</h3>
	<p>Акватория порта сообщается с Бугско-Днепровским лиманом каналом (БДЛК) посредством подходного канала длиной 3,14
		км и шириной 80 м. БДЛК имеет 9 колен: 5 на Днепровском канале и 4 на реке Южный Буг. Лоцманская проводка в
		порту обязательна.
		Лоцманская проводка судов длиной более 187 м по подходному каналу порта осуществляется с помощью буксиров.</p>
	<hr>
	<p>справочная порта : +38(0512)352410
		<br>эл.почта: <a href="mailto: dbmtp@mksat.net">dbmtp@mksat.net</a>
	</p>
	<hr>
	<p>Для получения более подробной информации обращайтесь, пожалуйста, в
		<a href="/branches/nik">Николаевское МА "Инфлот"</a></p>
	<button type="submit" class="btn btn-outline-primary main">На Главную</button>
	<button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../partials/Rus/PagesFooter"); -%>