<%- include("../partials/Rus/PagesTitle"); -%>
<title>Черноморский Морской Торговый Порт</title>
<%- include("../partials/Rus/PagesNavbar"); -%>
<article class="white-section">
  <h2>Черноморский Морской Торговый Порт</h2>
  <hr>
  <h3>Общая информация</h3>
  <img src="../images/il-img.jpg" alt="Photo Of Chernomorsk">
  <p>Черноморский морской торговый порт расположен на берегу Сухого лимана в 12 милях к юго-западу от Одессы.</p>
  <h3>Специализация</h3>
  <p>В порту действуют специализированные комплексы и терминалы:
    <ul>
      <li>Контейнерный терминал</li>
      <li>Комплекс по перегрузке руды</li>
      <li>Комплекс по перевалке продовольственных наливных грузов</li>
      <li>Комплекс по перегрузке зерна</li>
      <li>Комплекс по перевалке минудобрений</li>
      <li>Мультимодальный комплекс</li>
      <li>Топливный терминал</li>
      <li>Комплекс по перегрузке сжиженных газов</li>
    </ul>
    Порт специализирован на перегрузке тяжеловесных грузов весом до 300 т.</p>
  <h3>Портовые Мощности</h3>
  <p>В порту имеется 29 причалов с общей протяженностью - 6 км. Четыре железнодорожных въезда в порт и причалы,
    оборудованные ж/д путями (до 10 ниток в глубину территории), обеспечивают возможность обработки до 1300 вагонов в
    сутки.</p>
  <h3>Особенности Порта</h3>
  <p>Средние глубины на подходе к порту составляют 13.5 м и позволяют обслуживать суда с осадкой до 13 м и г/п до 100
    тыс.т. Порт открыт для захода судов круглогодично.</p>
  <hr>
  <p>справочная порта: +38(0482)691709
    <br>эл.почта: <a href="mailto: port@ilport.com.ua">port@ilport.com.ua</a>
    <br>веб-сайт: <a href="www.ilport.com.ua">www.ilport.com.ua</a>
  </p>
  <p>Для получения более подробной информации обращайтесь, пожалуйста, в
    <a href="ilich.html">Черноморское МА "Инфлот"</a></p>
  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>
</article>
<%- include("../partials/Rus/PagesFooter"); -%>