<%- include("../partials/Rus/PagesTitle"); -%>
<title>Николаевский Морской Торговый Порт</title>
<%- include("../partials/Rus/PagesNavbar"); -%>


<article class="white-section">
  <h2>Николаевский Морской Торговый Порт</h2>
  <hr>
  <h3>Общая информация</h3>
  <p>Николаевский морской торговый порт расположен у левого берега излучины реки Южный Буг, в 35 км вверх по течению
    от места впадения реки в Днепровский лиман. Порт соединен с морем Бугско-Днепровским лиманским каналом (БДЛК),
    проходящим по Днепро-Бугскому лиману и реке Южный Буг.</p>
  <img src="../images/nik-img.jpg" alt="Photo Of Nikolaev Port">
  <h3>Специализация</h3>
  <p>В порту перерабатываются: черные и цветные металлы всех сортаментов и профилей, чугун, трубы большого и малого
    диаметров, руды различные, уголь, окатыши, ферросплавы, фосфориты, цементный клинкер, глины, удобрения навалом,
    оборудование, зерновые насыпью, продовольственные грузы, пило- и лесоматериалы и др.</p>
  <h3>Портовые Мощности</h3>
  <p>В порту имеется 15 причалов общей протяженностью 2920 м. Допустимая осадка у причалов - 10.3 м (в пресной воде).
  </p>
  <h3>Особенности Порта</h3>
  <p>Бугско-Днепровский лиманский канал состоит из 13 колен, 6 из них проходят по Днепровскому лиману, остальные по
    реке Южный Буг. Ширина канала 100 м, глубина - 11,2 м.</p>
  <hr>
  <p>справочная порта : +38(0512)508400
    <br>эл.почта: <a href="mailto: nmtp@portnikolaev.com">nmtp@portnikolaev.com</a>
    <br>веб-сайт: <a href="www.portnikolaev.com">www.portnikolaev.com</a>
  </p>
  <hr>
  <p>Для получения более подробной информации обращайтесь, пожалуйста, в
    <a href="nik.html">Николаевское МА "Инфлот"</a></p>

  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../partials/Rus/PagesFooter"); -%>