<%- include("../partials/Rus/PagesTitle"); -%>
<title>Специализированный Морской Порт "Октябрьск"</title>
<%- include("../partials/Rus/PagesNavbar"); -%>

<article class="white-section">
  <h2>Специализированный Морской Порт "Октябрьск"</h2>
  <hr>
  <h3>Общая информация</h3>
  <p>Специализированный морской порт "Октябрьск" расположен на левом берегу Днепро-Бугского лимана на расстоянии 36 миль
    от Черного моря вверх по течению Южного Буга.</p>
  <img src="../images/oct.jpg" alt="Photo Of Octyabr'sk Port">
  <h3>Специализация</h3>
  <p>Порт специализируется на переработке генеральных грузов.</p>
  <h3>Портовые Мощности</h3>
  <p>Порт Октябрьск имеет 7 причалов общей протяженностью 1900 м., располагает необходимыми железнодорожными и
    автомобильными подъездными путями. Площадь крытых складов - 40 тыс. кв.м, открытых складских площадок - 250 тыс.
    кв.м. Порт располагает портальными кранами г/п от 10 до 40 т и другой разнообразной перегрузочной техникой.</p>
  <h3>Особенности Порта</h3>
  <p>Подход к порту осуществляется по каналу, состоящему из 11 колен, 5 из них проходят по Днепровскому лиману, 6 - по
    реке Южный Буг. Ширина канала 100 м, глубина - 11,2 м. Порт может принимать суда с осадкой до 10,3 м (в пресной
    воде), длиной судна до 215 м и грузоподъемностью до 40 тыс.т.</p>
  <hr>
  <p>справочная порта : +38(0512)299709
    <br>эл.почта: <a href="mailto: smp.oktyabrsk@optima.com.ua">smp.oktyabrsk@optima.com.ua</a>
    <br>веб-сайт: <a href="http://okt-port.com/">http://okt-port.com/</a>
  </p>
  <hr>
  <p>Для получения более подробной информации обращайтесь, пожалуйста, в
    <a href="nik.html">Николаевское МА "Инфлот"</a></p>
  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../partials/Rus/PagesFooter"); -%>