<%- include("../partials/Rus/PagesTitle"); -%>
<title>Одесский Морской Торговый Порт</title>
<%- include("../partials/Rus/PagesNavbar"); -%>

<article class="white-section">
  <h2>Одесский Морской Торговый Порт</h2>
  <hr>
  <h3>Общая информация</h3>
  <p>Порт расположен на северо-западном побережье Черного моря в юго-западной части Одесского залива на искусственно
    образованной территории площадью 109.5 га.</p>
  <img src="../images/odessa-sea.jpg" alt="Photo Of Lighthouse">
  <h3>Специализация</h3>
  <p>Порт располагает восемью производственно-перегрузочными комплексами для переработки сухих грузов, пассажирским,
    нефтяным и контейнерным терминалми, терминалами для переработки тропических и технических масел.</p>
  <p>Зерновой комплекс способен принять зерновые грузы навалом железнодорожным и автомобильным транспортом. Возможно
    кратковременное хранение зерновых грузов общим обьемом до 300 тыс.т.</p>
  <p>Нефтерайон Одесского порта - самый крупный нефтетерминал в Украине. Имеются резервуары для хранения темных и
    светлых нефтепродуктов, а также сжиженного газа.</p>
  <p>В порту имеется специальный терминал для переработки пальмового масла и его фракций, а также кокосового, соевого,
    рапсового и подсолнечного масел.</p>
  <p>Контейнерный терминал специализируется на перегрузке контейнеров всех типов. Предлагается полный комплекс
    сопутствующих услуг (стафировка и др.)</p>
  <p>Современный дизайн и техническая оснащенность Одесского пассажирского комплекса ставят его в один ряд с
    аналогичными комплексами Европы и крупнейших курортных городов мира.</p>
  <h3>Портовые Мощности</h3>
  <p>В порту имеется 42 защищенных причала с глубинами от 6.2 до 13.5 м. Общая протяженность причальной линии - более
    9000 м. Принимаются суда с осадкой 12.5 м и длиной до 240 м.</p>
  <p>Пассажирский комплекс способен принимать на пяти причалах пассажирские суда длиной до 272 м и осадкой до 11 м.</p>
  <h3>Особенности Порта</h3>
  <p>На территории пассажирского комплекса Одесского морского порта расположен яхтенный комплекс, способный одновременно
    принимать до 80 яхт различной длины. Имеются отапливаемые эллинги для хранения яхт и яхтенного снаряжения в зимний
    период, парковка автомашин для владельцев и гостей яхт, а также предоставляется все необходимое сервисное
    обслуживание.</p>
  <hr>
  <p>справочная порта : +38(048)729341
    <br>эл.почта: <a href="mailto: gdp@port.odessa.ua">gdp@port.odessa.ua</a>
    <br>веб-сайт: <a href="www.port.odessa.ua">www.port.odessa.ua</a>
  </p>
  <hr>
  <p>Для получения более подробной информации обращайтесь, пожалуйста, в
    <a href="odessa.html">Службу агентирования и экспедирования ЧГМА "Инфлот" в Одессе</a></p>

  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../partials/Rus/PagesFooter"); -%>