<%- include("../partials/Rus/PagesTitle"); -%>
<title>Скадовский Морской Торговый Порт</title>
<%- include("../partials/Rus/PagesNavbar"); -%>

<article class="white-section">
  <h2>Скадовский Морской Торговый Порт</h2>
  <hr>
  <h3>Общая информация</h3>
  <p>Скадовский морской торговый порт расположен на северном берегу Джарылгачского залива Черного моря. С юга залив
    ограничен береговой линией острова Джарылгач.</p>
  <img src="../images/sk.jpg" alt="Image Of Skadovsk Port">
  <h3>Специализация</h3>
  <p>Мощности порта позволяют перерабатывать до 500 тыс.т. навалочных, до 100 тыс.т. генеральных и до 100 тыс.т.
    зерновых грузов в год. На паромном комплексе порта можно перерабатывать до 7200 большегрузных автомобилей в год.
    Порт рассчитан на одновременную обработку четырех судов: типа ро-ро, балкера дедвейтом 3 тыс.т, универсального судна
    дедвейтом 2 тыс.т и танкера.</p>
  <h3>Портовые Мощности</h3>
  <p>В порту имеется один грузовой район, шесть причалов с общей длиной причальной линии - 929 м. Порт осуществляет
    грузопассажирские и автопаромные перевозки на турецком направлении, переработку насыпных и генеральных грузов,
    металлолома и леса.</p>
  <h3>Особенности Порта</h3>
  <p>Лоцманская проводка судов в порту является обязательной. Для вызова лоцмана капитан судна должен подать заявку
    капитану порта за 24 часа до подхода к маяку Джарылгачский с последующим уточнением за 6 часов.</p>
  <hr>
  <p>справочная порта: +38(05537)52022
    <br>эл.почта: <a href="mailto: skadport@askad.net">skadport@askad.net</a>
    <br>веб-сайт: <a href="www.khersonseaport.com.ua">www.khersonseaport.com.ua</a>
  </p>
  <hr>
  <p>Для получения более подробной информации обращайтесь, пожалуйста, в
    <a href="kherson.html">Херсонское МА "Инфлот"</a></p>
  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../partials/Rus/PagesFooter"); -%>