<%- include("../partials/Rus/PagesTitle"); -%>
<title>Южный Морской Торговый Порт</title>
<%- include("../partials/Rus/PagesNavbar"); -%>

<article class="white-section">
  <h2>Южный Морской Торговый Порт</h2>
  <hr>
  <h3>Общая информация</h3>
  <p>Южный морской торговый порт расположен в Аджалыкском лимане северо-западной части Черного моря. С моря в порт ведет
    подходной канал протяженностью 2 мили и глубиной 15 м.</p>
  <img src="../images/yuzhny-img.jpg" alt="Photo Of Yuzhny Port">
  <h3>Специализация</h3>
  <p>Порт специализирован на перевалке химических, генеральных и навалочных грузов, в том числе угля, металла,
    карбамида, стройматериалов, аммиака, суперфосфатной кислоты, метанола, фосфоритов, нефти, зерна.</p>
  <h3>Портовые Мощности</h3>
  <p>Порт имеет 8 причалов с общей протяженностью около 3 км. Причалы порта имеют железнодорожные подъездные пути,
    оборудованные портальными кранами г/п до 40 т. Допустимая осадка у причалов - 12.1 - 15 м.</p>
  <h3>Особенности Порта</h3>
  <p>Порт Южный является самым глубоководным портом Украины.</p>
  <hr>
  <p>справочная порта : +38(048)7507709
    <br>эл.почта: <a href="mailto: post@port.yuzhny.odessa.ua">post@port.yuzhny.odessa.ua</a>
    <br>веб-сайт: <a href="www.port.yuzhny.odessa.ua">www.port.yuzhny.odessa.ua</a>
  </p>
  <hr>
  <p>Для получения более подробной информации обращайтесь, пожалуйста, в
    <a href="yuzhny.html">МА "Инфлот" в порту Южный</a></p>
  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../partials/Rus/PagesFooter"); -%>