<%- include("../../partials/Rus/SubPages/PagesTitle"); -%>
<title>Центральный офис ЧГМА "Инфлот"</title>
<%- include("../../partials/Rus/SubPages/PagesNavbar"); -%>
<article class="white-section">
	<h2>Центральный офис ЧГМА "Инфлот"</h2>
	<hr>
	<p>Центральный офис ЧГМА "Инфлот" находится на территории <a href="/ports/OdessaSeaPort">Одесского морского торгового
			порта</a> рядом со зданием Управления порта.</p>
	<img src="../images/centralOffice-img.jpg" alt="Image Of INFLOT's Central Office">
	<p>Здание, в котором находится центральный офис ЧГМА "Инфлот", было построено после окончания Второй Мировой войны
		Черноморским морским пароходством специально для Черноморско-Азовского главного морского агентства "Инфлот",
		которое в то время
		обслуживало порты как Черного, так и Азовского морей. В настоящее время в здании находится генеральная дирекция
		ЧГМА "Инфлот", <a href="/activities/logistic">отдел логистики</a> и <a href="/activities/legal">юридический отдел.</a></p>
	<h3>Виды деятельности:</h3>
	<ul>
		<li><a href="/activities/agency">Агентирование</a></li>
		<li><a href="/activities/logistic">Логистика</a></li>
		<li><a href="/activities/forwarding">Экспедирование</a></li>
		<li><a href="/activities/legal">Юридические Услуги</a></li>
		<li><a href="/activities/tourism">Туризм</a></li>
	</ul>
	<h3>Персонал:</h3>
	<p>
		Адрес: Таможенная пл.1, Одесса, 65026, Украина
		<br>тел: +38(048)7223902
		<br>факс: +38(048)7293209
		<br>эл.почта: <a href="mailto: office@inflot.odessa.ua">office@inflot.odessa.ua</a></p>
	<button type="submit" class="btn btn-outline-primary main">На Главную</button>
	<button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>
</article>
<%- include("../../partials/Rus/SubPages/PagesFooter"); -%>