<%- include("../../partials/Rus/SubPages/PagesTitle"); -%>
<title>Херсонское МА "Инфлот"</title>
<%- include("../../partials/Rus/SubPages/PagesNavbar"); -%>
<article class="white-section">
  <h2>Херсонское МА "Инфлот"</h2>
  <hr>
  <img src="../images/herson.jpg" alt="Image Of People of Herson Port">
  <h3>Порты:</h3>
  <ul>
    <li><a href="/ports/khersonport">Херсонский морской торговый порт</a> - <a href="hersonportmark.html">оценка Д/С</a>
    </li>
    <li><a href="/ports/skport">Скадовский морской торговый порт</a> - <a href="skportmark.html">оценка Д/С</a></li>
    <li>Херсонский судоремонтный завод</li>
    <a href="/ports/dniprorivs">
      <li>Херсонский речной порт</li>
      <li>Новокаховский речной порт</li>
      <li>Запорожский речной порт</li>
      <li>Днепропетровский речной порт</li>
      <li>Кременчугский речной порт</li>
      <li>Черкасский речной порт</li>
      <li>Киевский речной порт</li>
    </a>
  </ul>
  <h3>Виды деятельности:</h3>
  <ul>
    <li><a href="/activities/agency">Агентирование</a></li>
    <li><a href="/activities/forwarding">Экспедирование</a></li>
  </ul>

  <h3>Персонал:</h3>
  <p>
    телекс: (0680) 273114 INF UX / (0680) 732188 INF UX
    <br>тел/факс: +38(0552)325308/325328/223596/492593/491526
    <br>деж. агент моб: +38(050)3966734
    <br>эл.почта: <a href="mailto: inflot@utel.net.ua">inflot@utel.net.ua</a></p>
  <p>

    <b>Агенты в Скадовском порту:</b>
    <br>тел: +38(05537)54497
    <br>эл.почта: <a href="mailto: Skadovsk@inflot.odessa.ua">Skadovsk@inflot.odessa.ua</a></p>

  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../../partials/Rus/SubPages/PagesFooter"); -%>