<%- include("../../partials/Rus/SubPages/PagesTitle"); -%>
<title>Киевский представительский офис
  ЧГМА "Инфлот"</title>
<%- include("../../partials/Rus/SubPages/PagesNavbar"); -%>

<article class="white-section">
  <h2>Киевский представительский офис
    ЧГМА "Инфлот"</h2>
  <hr>
  <h3>Виды деятельности:</h3>
  <p>Наш представительский офис занимается оформлением и получением виз в посольствах и консульствах, находящихся в
    городе Киев, а также организацией трансферов членов команды судов в/из аэропорты Борисполь и Жуляны.</p>
  <h3>Персонал:</h3>
  <p>Адрес: Таможенная пл.1, Одесса, 65026, Украина
    <br>тел/факс: +38(044)2880556
    <br>эл.почта: <a href="mailto: kiev@inflot.odessa.ua">kiev@inflot.odessa.ua</a></p>

  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../../partials/Rus/SubPages/PagesFooter"); -%>