<%- include("../../partials/Rus/SubPages/PagesTitle"); -%>
<title>Николаевское МА "Инфлот"</title>
<%- include("../../partials/Rus/SubPages/PagesNavbar"); -%>
<article class="white-section">
  <h2>Николаевское МА "Инфлот"</h2>
  <hr>
  <img src="../images/nik.jpg" alt="Image Of Nikolaev Port">
  <h3>Порты:</h3>
  <ul>
    <li><a href="/ports/nikport">Николаевский морской торговый порт</a> - <a href="/ports/DA_Estimate/nikportmark">оценка Д/С</a>
    </li>
    <li><a href="/ports/nikrivport">Николаевский речной порт</a> - <a href="/ports/DA_Estimate/nikrivportmark">оценка Д/С</a></li>
    <li><a href="/ports/octport">Специализированный морской порт "Октябрьск"</a> - <a href="/ports/DA_Estimate/octportmark">оценка
        Д/С</a></li>
    <li><a href="/ports/dnbport">Днепро-Бугский морской торговый порт</a> - <a href="/ports/DA_Estimate/dnbportmark">оценка Д/С</a>
    </li>
    <li><a href="/ports/ochakovport">Порт Очаков</a></li>
    <li>Дамен судостроительный завод "Океан"</li>
    <li>Судостроительный завод "61 Коммунара"</li>
    <li>Судостроительный завод "Крупнотоннажная верфь"</li>
    <li>Терминал "Нибулон"</li>
    <li>Терминал "Никатера"</li>
    <li>Порт "Океан-кредо"</li>
  </ul>
  <h3>Виды деятельности:</h3>
  <ul>
    <li><a href="/activities/agency">Агентирование</a></li>
    <li><a href="/activities/forwarding">Экспедирование</a></li>
    <li><a href="/activities/custombroker">Таможенный брокер</a></li>
  </ul>

  <h3>Персонал:</h3>
  <p>
    тел: +38(0512) 445350
    <br>факс: +38(0512) 445351
    <br>эл.почта: <a href="mailto: Nikolaev@inflot.odessa.ua">Nikolaev@inflot.odessa.ua</a></p>

  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../../partials/Rus/SubPages/PagesFooter"); -%>