<%- include("../../partials/Eng/SubPages/PagesTitle"); -%>
<title>Агентские Услуги</title>
<%- include("../../partials/Eng/SubPages/PagesNavbar"); -%>
<article class="white-section">
	<h2>Полный Спектр Агентских Услуг</h2>
	<hr>
	<p>Базируясь на более чем 70–ти летнем опыте работы с танкерами и судами, заходящими в порты для погрузки / выгрузки
		генеральных и навалочных грузов, пассажирскими и круизными судами, яхтами и военными кораблями, мы можем
		предложить Вам высокий
		уровень следующих услуг:</p>
	<img src="../images/agency.gif" alt="Photo Of Agency">
	<ul>
		<li>Постоянно обновляемая и исчерпывающая информация
			по всем портам, пассажирским и грузовым терминалам
			(глубины, мощности, обрабатываемые грузы., ставки и т.д.)</li>
		<li>Круглосуточный контроль за ходом грузовых операций</li>
		<li>Своевременные и полные отчеты по обработке судна</li>
		<li>Согласование и подготовка грузовых документов,
			стайтмент фактов</li>
		<li>Организация ремонта судов, судового и
			навигационного оборудования</li>
		<li>Таможенное оформление и доставка прибывших транзитом
			из-за границы запчастей и снабжения в адрес судна</li>
		<li>Бронирование причалов для пассажирских, круизных
			судов, военных кораблей и частных яхт</li>
		<li>Расчет проформы дисбурсментского счета</li>
		<li>Рекомендации по экономии расходов судов</li>
		<li>Информация о действующем визовом режиме на Украине
			для иностранцев, помощь в приобретении визы</li>
		<li>Смена экипажей, букирование билетов и номеров
			в гостиницах</li>
		<li>Репатриация и иммиграционно - таможенное оформление</li>
		<li>Бункеровка</li>
		<li>Снабжение пресной водой</li>
		<li>Снабжение продуктами</li>
		<li>Техническое, навигационное и медицинское снабжение</li>
		<li>Организация медицинского обслуживания моряков</li>
		<li>Организация сюрвейерской инспекции судов и
			грузов, тальманство грузов</li>
		<li>Оформление морских протестов</li>
		<li>Получение наличных для капитана и зарплат для экипажей
			с оформлением банковских документов</li>
		<li>Любые другие услуги, которые могут потребоваться судну
			и судовладельцу</li>
	</ul>
	<hr>
	<p><a href="/#contacts">Позвоните или напишите нам</a> для получения проформы дисбурсментского
		счета, расписаний или другой информации об услугах, интересующих Вас, в любом украинском черноморском порту</p>
	<button type="submit" class="btn btn-outline-primary main">На Главную</button>
	<button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>
</article>
<%- include("../../partials/Eng/SubPages/PagesFooter"); -%>