<%- include("../../partials/Eng/SubPages/PagesTitle"); -%>
<title>Таможенный Брокер</title>
<%- include("../../partials/Eng/SubPages/PagesNavbar"); -%>
<article class="white-section">
	<h2>Таможенный Брокер</h2>
	<hr>
	<p>ЧГМА «ИНФЛОТ» осуществляет брокерскую деятельность согласно Закона Украины «О лицензировании определенных видов
		хозяйственной деятельности» в соответствии с нормами Таможенного Кодекса Украины, Указов Президента Украины,
		Постановлений Кабинета
		Министров Украины, Приказов таможенной службы Украины .
	</p>
	<img src="../images/act_custom.jpg" alt="Act Custom Brokering">
	<p>Наше агентство имеет квалифицированный штат сотрудников (брокеров), подтверждающих свои знания ежегодной
		аттестацией в таможенных органах Украины. Взаимоотношения таможенного брокера и субъекта предпринимательской
		деятельности осуществляются
		на основании договора.</p>
	<h3>Брокер: </h3>
	<ul>
		<li>представляет интересы субъекта и действует от его имени
			во взаимоотношениях с таможенными органами на
			основании выданных доверенностей и поручений</li>
		<li>осуществляет оформление всех видов грузов любыми
			видами транспорта (а/м, ж/д ,авиа, морской)</li>
		<li>оформляет и предъявляет таможенным органам все документы,
			необходимые для проведения таможенного контроля
			и оформления «под ключ»</li>
		<li>производит расчеты с таможенными органами в национальной
			валюте на покрытие всех таможенных платежей</li>
		<li>осуществляет по поручению Заказчика аккредитование
			в таможенных органах</li>
		<li>производит согласование цены товара</li>
		<li>осуществляет наряду с таможенными органами контроль
			за правильным оформлением всех документов
			(контракт, товаросопроводительные документы, сертификаты
			и другие разрешительные документы) и в случае
			необходимости помогает в их оформлении</li>
	</ul>
	<hr>
	<p><a href="/#contacts">Позвоните или напишите нам</a>, если Вам необходимы услуги
		по таможенному оформлению грузов или дополнительная информация
		по предоставлению услуг таможенного брокера</p>

	<button type="submit" class="btn btn-outline-primary main">На Главную</button>
	<button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../../partials/Eng/SubPages/PagesFooter"); -%>