<%- include("../../partials/Eng/SubPages/PagesTitle"); -%>
<title>Экспедирование в черноморских портах Украины</title>
<%- include("../../partials/Eng/SubPages/PagesNavbar"); -%>
<article class="white-section">
  <h2>Экспедирование в Черноморских Портах
    Украины</h2>
  <hr>
  <p>Наша главная задача в сфере экспедирования-это превзойти ожидания клиента. Каждый клиент с его требованиями и
    пожеланиями для нас уникален, для каждого мы создаем индивидуальное решение.
  </p>
  <img src="../images/actforw.jpg" alt="Act Forwarding">
  <p>Мы готовы предоставить самый широкий спектр услуг, включающий как традиционные, так и специфические, адаптированные
    к интересам конкретных клиентов:</p>
  <ul>
    <li>Внутрипортовое экспедирование
      всех видов генеральных, насыпных и наливных грузов,
      а также грузов в контейнерах в <strong>портах Одесса, Ильичевск, Белгород-Днестровский, Николаев, Херсон</strong>
    </li>
    <li>Постоянно обновляемая информация об условиях
      перевалки всех видов грузов в портах</li>
    <li>Таможенное оформление и сертификация грузов</li>
    <li>Исчерпывающий логистический сервис по перевозке
      импортных экспортных и транзитных грузов</li>
    <li>Сюрвейерское сопровождение грузов</li>
    <li>Страхование грузов и перевозок</li>
    <li>Работа с другими украинскими и иностранными
      экспедиторскими и транспортными компаниями партнерами</li>
    <li>Разработка оптимальной логистической схемы и
      организация перевозки грузов в контейнерах всеми
      видами транспорта</li>
    <li>Букирование, стаффировка/расстафировка контейнеров</li>
    <li>Организация перевозок грузов автомобильным транспортом</li>
    <li>Размещение грузов на таможенно-лицензионном складе</li>
    <li>Консолидация/деконсолидация контейнеров <strong>lcl/lcl</strong></li>
    <li>Перевозка контейнеров <strong>fcl/ fcl</strong></li>
    <li>Мониторинг транспортировки грузов в контейнерах</li>
  </ul>
  <hr>
  <p><a href="/#contacts">Позвоните или напишите нам</a> для получения информации о размере ставок
    и условиях перевалки всех видов грузов в портах или другой информации
    об услугах, интересующих Вас, в любом украинском Черноморском порту</p>
  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../../partials/Eng/SubPages/PagesFooter"); -%>