<%- include("../../partials/Eng/SubPages/PagesTitle"); -%>
<title>Юридические Услуги</title>
<%- include("../../partials/Eng/SubPages/PagesNavbar"); -%>
<article class="white-section">
  <h2>Юридические Услуги</h2>
  <hr>
  <p>Юридическая служба ЧГМА «Инфлот», основанная в 1993 году, специализируется на предоставлении широкого спектра
    юридических услуг в сфере морского судоходства. Благодаря глубоким профессиональным знаниям и богатому практическому
    опыту, наши юристы успешно занимаются разрешением самых разнообразных правовых вопросов и споров в сфере морского
    судоходства, в том числе по арестом/ освобождением судов, возвратом неправомерно взысканных портовых сборов и
    дисбурсментских расходов, оптимизацией налогообложения и другим направлениям юридической деятельности.
  </p>
  <img src="../images/act_legal.jpg" alt="Legal Books">
  <p>Расположение юридической службы в центральном офисе ЧГМА «Инфлот» обеспечивает оперативный обмен информацией с
    любым филиалом Компании и позволяет успешно оказывать услуги не только в Одессе, но и по всей Украине в следующих
    направлениях юридической деятельности:</p>
  <ul>
    <li>Представительство интересов клиента в судах общей и специальной юрисдикции. В рамках этой деятельности
      проводятся любые процессуальные действия на любой стадии процесса – в судах первой инстанции, апелляционной и
      кассационной инстанций; участие в комплексных судебных процессах, которые связаны с несколькими судебными делами в
      разных судах</li>
    <li>Консультации судовладельца по вопросам залога судов в Украине.</li>
    <li>Юридическое сопровождение покупки и продажи судна и оборудования</li>
    <li>Юридический анализ разрабатываемых и заключенных договоров (контрактов и пр.); юридическая экспертиза любых
      условий отдельного договора; обеспечение, в необходимых случаях, нотариального удостоверения документов,
      государственной регистрации договора; хранение оригиналов и копий договоров и других документов.</li>
    <li>Консультации по оптимизации уплаты налогов, портовых сборов и плат и иных дисбурсментских расходов судна.</li>
    <li>Правовое обеспечение признания и исполнения иностранных судебных и арбитражных решений. В рамках этого
      направления осуществляется подготовка необходимых документов для обращения в судебные органы Украины и защита
      интересов клиента в соответствующих инстанциях.</li>
    <li>Перевод материалов дела на иностранный язык.</li>
  </ul>
  <p>Этот перечень не является исчерпывающим, юридическая служба поддерживает ведение других дел в отрасли морского
    права. При этом юристы Инфлота проводят предварительный анализ материалов дела на предмет перспективности его
    рассмотрения в судах и других органах; готовят юридические документы для украинских и иностранных судебных инстанций
    (исковые заявления, ходатайства и заявления, жалобы, петиции и пр.); участвуют в судебных слушаниях и переговорных
    процессах.</p>
  <p>Юридический департамент ЧГМА «Инфлот» успешно защитил интересы судовладельцев, выиграв ряд судебных дел, связанных
    с неправомерно начисленными портовыми сборами, взысканием НДС, начисленного на портовые сборы, а также сборы и платы
    за услуги, которые предоставляются в морских торговых портах Украины.</p>
  <hr>
  <p>Позвоните или напишите нам, если Вам необходима информация по предоставлению юридических услуг в любом украинском
    черноморском порту
    <br>Тел: + 38(048)7247709/7294657 e-mail: <a href="mailto: legal@inflot.odessa.ua">legal@inflot.odessa.ua</a></p>

  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../../partials/Eng/SubPages/PagesFooter"); -%>