<%- include("../../partials/Eng/SubPages/PagesTitle"); -%>
<title>Логистика</title>
<%- include("../../partials/Eng/SubPages/PagesNavbar"); -%>

<article class="white-section">
  <h2>Логистика</h2>
  <hr>
  <p>На современном этапе развития общества потребители транспортных услуг постоянно сталкиваются с проблемой выбора
    перевозчиков, экспедиторских компаний, таможенных брокеров и т.п. Рынок представителей этого вида услуг огромен и
    обеспечить чёткое взаимодействие всех участников транспортного процесса достаточно сложно. Именно для выполнения
    этих задач в нашем агентстве создан отдел логистики. Для работы в этом отделе были привлечены профессиональные
    логисты, специалисты с опытом работы в сфере экспедирования и перевозки грузов.
  </p>
  <img src="../images/act_logistic.jpg" alt="Act Of Logistic">
  <p>Используя территориальные преимущества (наш офис находится на территории Одесского порта), давние и прочные связи,
    как с морскими, так и с наземными перевозчиками, мы можем предложить нашим клиентам оптимальные схемы перевозок
    внешнеторговых грузов, исходя из условий запродажных контрактов и текущих потребностей, включая перевозки по схеме
    «от двери до двери».</p>
  <h3>Наш отдел логистики готов предоставить клиентам полный спектр сопутствующих услуг, а именно:
  </h3>
  <ul>
    <li>Стаффировка/расформирование контейнеров</li>
    <li>Услуги таможенного брокера</li>
    <li>Сертификация грузов в системе Укрсепро</li>
    <li>Складские услуги (в том числе услуги ТЛС)</li>
    <li>Консультации по транспортным условиям</li>
    <li>запродажных контрактов</li>
    <li>Страхование грузов</li>
  </ul>
  <hr>
  <p>Позвоните или напишите нам и мы поможем Вам найти
    наиболее рациональные и экономичные логистические решения и
    пути их реализации в любом украинском черноморском порту:
    Тел: +38(048)7294532 e-mail: <a href="mailto: logistic@inflot.odessa.ua">logistic@inflot.odessa.ua</a></p>

  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../../partials/Eng/SubPages/PagesFooter"); -%>