<%- include("../../partials/Eng/SubPages/PagesTitle"); -%>
<title>Туризм</title>
<%- include("../../partials/Eng/SubPages/PagesNavbar"); -%>

<article class="white-section">
  <h2>Туризм</h2>
  <hr>
  <p>Подразделения ЧГМА "Инфлот", имеющие многолетний опыт в туристическом бизнесе, постоянно расширяют спектр
    предоставляемых туристических услуг, совершенствуя при этом их качество.
  </p>
  <p>
    Мы предлагаем Вам посетить лучшие курорты и самые интересные уголки, где Вас ждут живописные пейзажи, уникальные
    памятники истории и современный сервис. Вы получите возможность увлекательно провести время и укрепить здоровье.</p>
  <img src="../images/act_tourism.jpg" alt="Landscape of Sea">
  <p>Мы предлагаем туристический сервис любого уровня
    в соответствии с Вашими требованиями и запросами:</p>
  <ul>
    <li>в санаториях и домах отдыха</li>
    <li>в отелях</li>
    <li>в мини-отелях и частном секторе</li>
  </ul>
  <hr>
  <p>Позвоните или напишите нам, если Вам необходима информация по предоставлению туристических услуг:
    <br>Тел: +38(048)7223902 e-mail: <a href="mailto: office@inflot.odessa.ua">office@inflot.odessa.ua</a></p>

  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../../partials/Eng/SubPages/PagesFooter"); -%>