<%- include("../partials/Eng/PagesTitle"); -%>
<title>Белгород-Днестровский Морской
	Торговый Порт</title>
<%- include("../partials/Eng/PagesNavbar"); -%>
<article class="white-section">
	<h2>Белгород-Днестровский Морской Торговый Порт</h2>
	<hr>
	<h3>Общая информация</h3>
	<p>Белгород-Днестровский морской торговый порт расположен на западном берегу Днестровского лимана. Подход судов в
		порт осуществляется по морскому каналу 2.6 км и лиманскому каналу 14.5 км. Глубина подходного канала - 4.5 м.
	</p>
	<h3>Специализация</h3>
	<p>Порт специализирован на грузопереработке внешнеторговых и каботажных грузов: зерновые, лесные, генеральные, живой
		скот, mминерально-строительные материалы.</p>
	<h3>Портовые Мощности</h3>
	<p>Имеется 9 причалов общей протяженностью 1158.9 м и глубинами не менее 4.3 м.</p>
	<h3>Особенности Порта</h3>
	<p>Вход судов в Днестровский лиманский канал, ведущий в порт, осуществляется под железнодорожным мостом с подъемным
		пролетом. Максимальный подъем пролета - 28 м. Проход судна под мостом является платным и предварительно
		согласовывается с
		портовыми властями.</p>
	<hr>
	<p>справочная порта : +38(04849)93339
		<br>эл.почта: <a href="mailto: mail@bdport.odessa.ukrtel.net">mail@bdport.odessa.ukrtel.net</a>
		<br>веб-сайт: <a href="www.bdport.com.ua">www.bdport.com.ua</a>
	</p>
	<hr>
	<h3>Портпункт Бугаз</h3>
	<p>Портпункт Бугаз расположен в 14 км к югу от порта, у гирла Днестровского лимана. Площадь портпункта 5,4 га. Он
		имеет один причал длиной 127 м с глубинами до 5.5 м</p>
	<hr>
	<p>Для получения более подробной информации обращайтесь, пожалуйста, в <a href="bd.html">Белгород-Днестровское МА
			"Инфлот"</a></p>
	<button type="submit" class="btn btn-outline-primary main">На Главную</button>
	<button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>
</article>
<%- include("../partials/Eng/PagesFooter"); -%>