<%- include("../partials/Eng/PagesTitle"); -%>
<title>Днепровские Речные Порты</title>
<%- include("../partials/Eng/PagesNavbar"); -%>

<article class="white-section">
	<h2>Днепровские Речные Порты</h2>
	<hr>
	<section id="kherson">
		<h3>Херсонский речной порт</h3>
		<p>Херсонский речной порт осуществляет перевалку навалочных и генеральных грузов, проката черных металлов, леса,
			бокситов, металлолома, угля, кокса, минеральных удобрений, зерна. Глубина на фарватере: 4.4-5 м на 3-7
			причалах и 7.8 м на 1-м и
			2-м причалах.</p>
		<hr>
		<p>справочная порта : +38(0552)282111
			<br>эл.почта: <a href="mailto: khrp@ukr.net">khrp@ukr.net</a>
			<br>веб-сайт: <a href="www.riverport.kherson.ua">www.riverport.kherson.ua</a>
		</p>
	</section>
	<section id="novkah">
		<h3>Новокаховский речной порт</h3>
		<p>Расстояние до Херсона составляет 65 км. Принимаются все типы речных судов и суда типа "река-море". Осадка -
			до 3.5 м. Порт в основном работает с минерально-строительными грузами, щебнем различной фракции,
			металлоломом и генеральными грузами.
		</p>
		<hr>
		<p>справочная порта : +38(05537)52022</p>
	</section>
	<section id="zap">
		<h3>Запорожский речной порт</h3>
		<p>Расстояние до Херсона составляет 279 км. Порт принимает суда типа "река-море" длиной до 180 м и осадкой до
			3.5 м. Порт способен перерабатывать в год до 3 млн т различных грузов. Основная номенклатура - руда, кокс,
			уголь, металлолом,
			металлоизделия, удобрения, глина, песок, ферросплавы, бокситы.</p>
		<hr>
		<p>справочная порта : +38(0612)2830208
			<br>эл.почта: <a href="mailto: rechport@comint.com">rechport@comint.com</a></p>
	</section>
	<section id="dnipro">
		<h3>Днепропетровский речной порт</h3>
		<p>Дистанция до Херсона - 365 км. Допустимая осадка лимитирована 3.7 м. Порт специализируется на переработке
			металлопроката, большегрузных контейнеров, тяжеловесных грузов, угля, кокса, песка, окатышей,
			минерально-строительных и зерновых
			грузов.</p>
		<hr>
		<p>справочная порта : +38(0562)422625
			<br>эл.почта: <a href="mailto: rechport@a-teleport.com">rechport@a-teleport.com</a>
		</p>
	</section>
	<section id="kremen">
		<h3>Кременчугский речной порт</h3>
		<p>Дистанция до Херсона - 514 км. В порт могут заходить суда длиной до 120 м и осадкой до 3.2 м. Порт
			специализируется на переработке минерально-строительных грузов и металлолома.</p>
		<hr>
		<p>справочная порта : +38(05366)23252
			<br>эл.почта: <a href="mailto: krrp@kremen.ukrtel.net">krrp@kremen.ukrtel.net</a>
		</p>
	</section>
	<section id="cherk">
		<h3>Черкасский речной порт</h3>
		<p>Дистанция до Херсона - 625 км. Порт принимает суда типа "река-море" г/п до 3000 т, речные суда г/п 600-2000 т
			и осадкой до 3.1 м. Основная номенклатура грузов: металл, оборудование, железобетонные изделия, минерально
			удобрения, зерно, лес,
			уголь и строительные материалы.</p>
		<hr>
		<p>справочная порта : +38(0472)422158
			<br>эл.почта: <a href="mailto: port@sokol.cherkassy.ua">port@sokol.cherkassy.ua</a>
		</p>
	</section>
	<section id="kiev">
		<h3>Киевский речной порт</h3>
		<p>Дистанция до Херсона - 827 км. Порт принимает суда длиной до 130 м и осадкой до 3.2 м. Последние несколько
			лет порт специализируется на добыче и перевалке песка, щебня и других строительных материалов. В небольших
			количествах перевозятся
			продукты питания. Порт имеет склады, которые сдает в аренду.</p>
		<hr>
		<p>справочная порта : +38(044)4252466
			<br>эл.почта: <a href="mailto: krp@krp.com.ua">krp@krp.com.ua</a>
			<br>веб-сайт: <a href="mailto: www.krp.com.ua">www.krp.com.ua</a>
		</p>
	</section>

	<p><strong>Примечание:</strong> Херсонский речной порт, Новокаховский речной порт, Запорожский речной порт,
		Днепропетровский речной порт, Кременчугский речной порт, Черкасский речной порт и Киевский речной порт открыты
		для иностранных судов, но
		для этого необходимо получение специального разрешения Министерства Транспорта Украины.
		<p>На подходе к речным портам (исключая Херсонский речной порт) суда проходят через шлюзы шириной 18 м длиной
			270 м.</p>
		<p>Допустимая осадка составляет от 4.6 до 2.8 м.</p>
		<hr>
		<p>Для получения более подробной информации обращайтесь, пожалуйста, в
			<a href="kherson.html">Херсонское МА "Инфлот"</a></p>
		<button type="submit" class="btn btn-outline-primary main">На Главную</button>
		<button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../partials/Eng/PagesFooter"); -%>