<%- include("../partials/Eng/PagesTitle"); -%>

<title>Черноморский Морской Рыбный Порт</title>
<%- include("../partials/Eng/PagesNavbar"); -%>

<article class="white-section">
  <h2>Черноморский Морской Рыбный Порт</h2>
  <hr>
  <p>Черноморский морской рыбный порт имеет десять причалов, оборудованных пятнадцатью портальными кранами различной
    грузоподъемности. Порт располагает четырьмя специализированными комплексами для перевалке свежемороженной
    продукции, металла, генеральных и зерновых грузов.</p>
  <img src="../images/ilfish.jpg" alt="Photo Of Chernomorsk Fish Port">
  <hr>
  <p>справочная порта: +38(048)7170511
    <br>эл.почта: <a href="mailto: com@fishport.com.ua">com@fishport.com.ua</a>
    <br>веб-сайт: <a href="www.fishport.com.ua">www.fishport.com.ua</a>
  </p>
  <p>Для получения более подробной информации обращайтесь, пожалуйста, в
    <a href="ilich.html">Черноморское МА "Инфлот"</a></p>
  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../partials/Eng/PagesFooter"); -%>