<%- include("../partials/Eng/PagesTitle"); -%>
<title>Херсонский Морской Торговый Порт</title>
<%- include("../partials/Eng/PagesNavbar"); -%>
<article class="white-section">
  <h2>Херсонский Морской Торговый Порт</h2>
  <hr>
  <h3>Общая информация</h3>
  <p>Порт расположен на правом берегу Днепра, в 15 милях от его устья. Проход по фарватеру, который ведет к порту, не
    представляет особых сложностей.</p>
  <img src="../images/kh.jpg" alt="Image Of Kherson Port">
  <h3>Специализация</h3>
  <p>В порту перерабатываются генеральные, навалочные и насыпные грузы: минеральные удобрения, строительные материалы, а
    также черные металлы всех профилей, чугун в чушках, кокс, ферросплавы, лес, торф.</p>
  <h3>Портовые Мощности</h3>
  <p>Десять причалов порта расположены на правом берегу Днепра. Общая длина причальных сооружений составляет 1,26 км.
    Глубины у причалов составляют 2.5 – 8.25 м. Порт принимает суда длиной до 200 м и осадкой до 7.6 м в пресной воде.
  </p>
  <h3>Особенности Порта</h3>
  <p>Все движение в порту регулирует дежурная служба капитана порта и ни одно судно не имеет права входить в порт и
    выходить из него без соответствующего разрешения.</p>
  <hr>
  <p>справочная порта : +38(0552)281299
    <br>эл.почта: <a href="mailto: info@seaport.kherson.com.ua">info@seaport.kherson.com.ua</a>
    <br>веб-сайт: <a href="www.khersonseaport.com.ua">www.khersonseaport.com.ua</a>
  </p>
  <hr>
  <p>Для получения более подробной информации обращайтесь, пожалуйста, в
    <a href="kherson.html">Херсонское МА "Инфлот"</a></p>
  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../partials/Eng/PagesFooter"); -%>