<%- include("../partials/Eng/PagesTitle"); -%>
<title>Николаевский Речной Порт</title>
<%- include("../partials/Eng/PagesNavbar"); -%>


<article class="white-section">
  <h2>Николаевский Речной Порт</h2>
  <hr>
  <p>Николаевский речной порт производит переработку различных зкспортно-импортных грузов, таких, как металл, лес,
    уголь, кокс, металлолом, катаная проволока, железнорудный концентрат, минерально-строительные грузы, химические
    удобрения, продукция сельского хозяйства.</p>
  <hr>
  <p>справочная порта : +38(0512)581600
    <br>эл.почта: <a href="mailto: ves@rechport.mksat.net">ves@rechport.mksat.net</a>
    <br>веб-сайт: <a href="www.rechport.mksat.net">www.rechport.mksat.net</a>
  </p>
  <hr>
  <p>Для получения более подробной информации обращайтесь, пожалуйста, в
    <a href="nik.html">Николаевское МА "Инфлот"</a></p>

  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../partials/Eng/PagesFooter"); -%>