<%- include("../partials/Eng/PagesTitle"); -%>
<title>Порт Очаков</title>
<%- include("../partials/Eng/PagesNavbar"); -%>
<article class="white-section">
  <h2>Порт Очаков</h2>
  <hr>
  <h3>Общая информация</h3>
  <p>Порт Очаков расположен на Днепро-Бугском лимане в Николаевской области на северо-восточной окраине города Очаков.
  </p>
  <h3>Специализация</h3>
  <p>Порт перерабатывает генеральные и навалочные грузы.</p>
  <h3>Портовые Мощности</h3>
  <p>Порт имеет 5 причалов с общей длиной причальной линии - 726 м.</p>
  <h3>Особенности Порта</h3>
  <p>Порт принимает суда длиной до 140 м, шириной - 15 м. Максимальная допустимая осадка - до 5.5 м (в настоящее время -
    до 4.5 м). Скорость движения судов в акватории - 4.5 узла.</p>
  <hr>
  <p>справочная порта : +38(05154)30144
  </p>
  <hr>
  <p>Для получения более подробной информации обращайтесь, пожалуйста, в
    <a href="nik.html">Николаевское МА "Инфлот"</a></p>
  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../partials/Eng/PagesFooter"); -%>