<%- include("partials/Eng/MainPageHeader"); -%>
<section id="title" class="colored-section">
  <img src="images/back-img-try.jpg" alt="Image Of Port">
  <div class="col-xs-9 col-sm-8 col-md-8 col-lg-7 centered">
    <h1>BLACK SEA GENERAL SHIPPING AGENCY "INFLOT"</h1>
  </div>
</section>

<main>
  <section id="main" class="white-section">
    <h2>We are at Your Service!</h2>
    <hr>
    <p>We welcome you to our site and hope that this visit will not be useless for you. You can easily find basic
      information on all Ukrainian ports, evaluate the disbursement costs that interest you with the help of tariffs on
      port charges, and
      request additional information online. Our company has been engaged in ship agency services since 1934 and has
      rich experience both in the era of monopoly and in market conditions. Since 1993, we began to expand the types of
      services provided
      and today, along with agency services, we offer forwarding, brokerage, legal services, as well as provide coastal
      services for cruise ships. We are glad to cooperate in any of the mentioned areas of activity and are open to your
      suggestions.
    </p>
    <p>Bronetskaya Olga Konstantinovna - General Director of the BLACK SEA GENERAL SHIPPING AGENCY "INFLOT"</p>
  </section>
  <section id="history" class="colored-section">
    <h2>History</h2>
    <hr>
    <p>At different times, certain merits and characteristics of any company can be ambiguously evaluated, but,
      undoubtedly, its age will always be a reference point, a guideline, a proof of once correctly chosen priorities.
    </p>
    <p>Inflot is over 70 years old. His story is divided into two diametrically opposed periods of his activity: the era
      of the state monopoly on agency and a market economy, in which Inflot has been working for the past 15 years in a
      competitive
      environment with more than 250 national and foreign companies.</p>
    <p>The agency business is always built on mutual trust: the Principal trusts the agent to represent his interests at
      the port of call of his vessel, the agent trusts the shipowner in matters of paying port charges and other
      payments, protecting
      his interests before third parties involved in cargo handling, passenger service, ship repair etc.</p>
    <p>The imperial habit of establishing its rules without taking into account international experience and taking into
      account the interests of consumers of services allowed the state monopoly on maritime agency service to exist for
      57 years,
      right up to the collapse of the USSR in 1991.</p>
    <p>Undoubtedly, improving the quality of services is possible only in a competitive environment, but, in fairness,
      it should be noted the perfection of the Soviet system of personnel selection and training: both in the past and
      at present, the
      main component of the success of any agency company.</p>
    <p>Experienced captains and senior assistants, representatives of V / O Sovfreight in foreign ports: professionals
      who were well aware of the requests and requirements of shipowners came to work in Inflot as marine agents.</p>
    <p>Here it is appropriate to recall those people who at different times stood at the helm of Inflot and made their
      own, always special and noticeable contribution to the cause of its prosperity and development. These are departed
      at different times: Fortuchenko A.D. (1944-1950), Pogorelsky R.G. (1950-1957), Koryakin M.I. (1957-1964), Voloshin
      A.P. (1964-1983), V.F. Meshkov (1968-1971), Vodopyanov V.V. (1983-1991) and now living: Chalenko O.V. (1991-2005)
      and Kaznacheev V.P. (Director of Kherson MA "Inflot" 1957-1995).</p>
    <p>The set high standard of knowledge requirements in the field of international shipping in general, and its port
      component in particular, received new impulses from year to year for approval as the main priority of Inflot's
      activity:
      competent and careful attitude to the Principal's ship, its money and requirements.</p>
    <p>Priorities gradually grew into traditions that not every company can be proud of. Indeed, for the birth and
      existence of traditions, time is needed. That is why in a new country, new conditions and another life, we took
      with us the main
      thing - our best traditions: to always act in the interests of the Principals: shipowners, charterers, operators
      of foreign and Ukrainian ships - those who trust us with their fleet, their money, and sometimes and your life.
    </p>
    <p>This approach to business has remained unchanged. At the same time, since 1991, there have been many changes
      dictated by the need to make new decisions in the conditions of the emerging market.</p>
    <p>Among the most notable:

      <ul>
        <li>opening of new branches in the ports: Nikolaev, Oktyabrsky, Dnepro-Bugsky, Feodosiya, Sevastopol,
          Yevpatoriya, Skadovsk;</li>
        <li>joining as a member of the federation of national associations of customs brokers and agents FONASBA and the
          international federation of associations of forwarders FIATA;</li>
        <li>development of new activities: freight forwarding, customs brokerage, legal services and consulting.</li>
      </ul>
      <p>The results of the past 15 years have confirmed the correctness of the chosen priorities: Inflot, following
        them, managed to maintain its leadership position in the conditions of fierce, unremitting competition over the
        years.</p>
      <p>Innovations, intellectual strategic potential and impeccable reputation ensured the high dynamics of Inflot's
        development throughout the history of the company and will always be the main driving force in all its new
        endeavors - all this
        allows Inflot to look ahead with confidence.</p>
      <hr>
      <h3>Company Information:</h3>
      <ul>
        <li>Objectives: the implementation of market activity, i.e. the performance of work and the provision of
          services that compete with the work and services produced without restriction by business entities of all
          forms of ownership. (CM
          Decree
          Ukraine from 11/09/2016 p. No. 1052).</li>
        <li>Financial statements:<ul>
            <li>
              2016: <a href="../docs/2016qt.pdf">quarterly</a>, <a href="../docs/2016yr.pdf">annual.</a></li>
            <li>2017 год: <a href="../docs/2017qt.pdf">quarterly</a>, <a href="../docs/2017yr.pdf">annual.</a></li>
            <li>2018 год: <a href="../docs/2018qt.pdf">quarterly.</a></li>
          </ul>
        </li>
        <li><a href="../docs/statut.pdf">Charter of the enterprise.</a></li>
        <li>The ownership structure of the enterprise is 100% state property.</li>
        <li>The following information is available on the web portal <a
            href="https://spending.gov.ua/new/disposers">e-data</a>:
          <ul>
            <li>information about the company;</li>
            <li>about the property management body of the enterprise;</li>
            <li>quarterly, annual financial statements of the state unitary enterprise for the last three years,
              including expenses for the implementation of non-commercial goals of state policy and the source of their
              financing;</li>
            <li>information on the use of the ChGMA "Inflot" public funds under contracts in the context of goods, works
              and services for 2015-2016.</li>
          </ul>
        </li>
        <li>Statement of Contracts:
          <ul>
            <li>BSGSA "Inflot" does not have contracts concluded for the reporting period of 2017, the total value of
              which exceeds one million hryvnias.</li>
            <li>BSGSA "Inflot" has no agreements concluded for previous reporting periods, which continue to be
              executed, the total value of which exceeds one million hryvnias.</li>
            <li>BSGSA "Inflot" has no contractual obligations with the state and / or local budget, state and / or local
              institutions, enterprises, organizations and contractual obligations (financial and non-financial) arising
              from public-private
              partnerships. The company is not the recipient of local or state budgets. Tax liabilities are fulfilled by
              BSGSA "Inflot" in the manner established by the current legislation of Ukraine.</li>
          </ul>
        </li>
        <li><a href="../docs/bioGenDir.pdf">Biographical information of the head of the enterprise.</a></li>
      </ul>
    </p>
  </section>
  <section id="branchOffice" class="white-section">
    <h2>Branches</h2>
    <hr>
    <p>Founded in 1934, Black Sea General Shipping Agency INFLOT is now one of the biggest and reputable shipping
      agencies in Ukraine, which takes<a href="#rewards">a leading position</a>on the national agency market. Following
      the changes in our
      country INFLOT has gone a long way from a state supported and governed structure set up for agency of foreign
      vessels calling at Soviet ports, to a market-oriented flexible business, enjoying all the benefits of free market
      competition and
      providing a wide range of services.</p>
    <img class="img-near-text" src="../images/branch.jpg">
    <p>Today Black Sea General Shipping Agency INFLOT with its <a href="/branches/centralOffice.html">head office</a> in
      Odessa, representative office in <a href="addPagesEng/kiev.html">Kiev</a> and branches in all Ukrainian Black Sea
      ports:
      <ul>
        <li><a href="/branches/odessa">Odessa</a></li>
        <li><a href="/branches/BD">Belgorod-Dnestrovsky</a></li>
        <li><a href="/branches/ilich">Chernomorsk</a></li>
        <li><a href="/branches/yuzhny">Yuzhny</a></li>
        <li><a href="/branches/nik">Nikolaev</a></li>
        <li><a href="/branches/herson">Kherson</a></li>
      </ul>
      <p>- is a diversified shipping agency, which alongside with the traditional <a href="/activities/agency">agency
          service</a> provides the other kind of services such as <a href="/activities/forwarding">forwarding</a>, <a
          href="/activities/custombroker">customs brokering</a>, <a href="/activities/logistic">logistics</a>, <a
          href="/activities/legal">legal services</a>.</p>

      <p>Our company, with its 9 branch offices, has wide and developed infrustucture that gives us a wide range of
        opportunities in agency service, cargo forwarding, logistics and other kinds of activities.</p>
      <p>Our highly qualified and skilled personnel that have a good knowledge and experience in shipping field can
        provide state-of-the art services drawing on the skills, commitment and enthusiasm of our people - a team, which
        is truly greater
        than the sum of its parts.</p>
  </section>
  <section id="partners" class="colored-section">
    <h2>Partners </h2>
    <hr>
    <ul>
      <li><a href="mailto: info@inflotworld.com">Istanbul Inflot Denizcilik(e-mail)</a></li>
      <li><a href="www.intercruises.com">Intercruises Shoreside and Port Services(website)</a></li>
      <li><a href="www.lotkadxb.com/agents/ukraine">Lotka Shipping Line(website)</a></li>
    </ul>
    <!--
        <ul>
          <li><a href="http://www.mintrans.gov.ua/"><img src="images/min-trans.gif" alt="Link To Mintrans"></a></li>
          <li><a href="http://www.fiata.com/"><img src="images/fiata.gif" alt="Link To Fiata"></a></li>
          <li><a href="http://ameu.org.ua/"><img src="images/ameu.gif" alt="Link To Ameu"></a></li>
          <li><a href="http://www.fonasba.com/"><img src="images/fonasba.gif" alt="Link To Fonasba"></a></li>
        </ul> -->
  </section>
  <section id="rewards" class="white-section">
    <h2>Awards</h2>
    <hr>
    <p>All INFLOTs awards are a true reflection of the continual quality improvements in a whole range of maritime
      services provided by INFLOT during more than 70 years history.</p>
    <p>Starting from 2004, the editors of "Ports of Ukraine" magazine jointly with the Assosiation of Maritime Agencies
      of Ukraine have been carrying out an annual survey to define a rate list of the biggest shipping agencies, which
      work in Ukrainian sea ports.</p>
    <p>Our company for the fifth year is on the top of the list, leaving its competitors far behind:</p>
    <p>Key to our success is a consi../stent and high quality response to Principals, we provide services that meet or
      exceed their expectations.</p>
    <img class="reward-element" src="../images/aw_2004_eng.jpg" alt="Reward of 2004">
    <img class="reward-element" src="../images/aw_2005_eng.jpg" alt="Reward of 2005">
    <img class="reward-element" src="../images/aw_2006_eng.jpg" alt="Reward of 2006">
    <img class="reward-element" src="../images/aw_2007.jpg" alt="Reward of 2007">
    <img class="reward-element" src="../images/aw_2008.jpg" alt="Reward of 2008">
    <p>We always justified trust of clients and all our awards serve as a confirmation of the high level of the
      Principals confidence.</p>
  </section>
  <section id="reviews" class="colored-section">
    <h2>Gratitudes</h2>
    <hr>
    <p>We decided to leave some space for positive feedback which we have been receiving over decades from masters and
      Principals.</p>
    <p>On the one hand these examples bring about reminiscences about our past, on the other hand they stimulate and
      oblige us to be at the top of the list of 300 agencies working in the sector of similar services.</p>
    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item container-fluid active" data-interval="25000">
          <h3 class="testimonial-text">"You have been mainly instrumental in loading and unloading of our cargo and have
            given us all possible help. I hope that these friendly relations will continue and even grow stronger.
            Assuring you of our highest consideration"</h3>
          <img class="testimonial-img" src="../images/review_1.gif" class="d-block" alt="Review Document">
          <em>Mr Y.M. Tiwari, Acting Consul General of India, Odessa, 27-Jan-70</em>
        </div>
        <div class="carousel-item container-fluid" data-interval="25000">
          <h3 class="testimonial-text">"This is to express my appreciation for the services rendered and cooperation
            extended to my vessel during her stay here. It is gratifying to note that your office is staffed with those
            who have worked at sea, as they are the only ones who can understand, sympathize and appreciate a
            shipmaster's difficulties"</h3>
          <img class="testimonial-img" src="../images/review_2.gif" class="d-block" alt="Review Document">
          <em>Mr J.T. Maciel, Shipmaster of m/v Vishva Vijay, Odessa, 14-Mar-70</em>
        </div>
        <div class="carousel-item container-fluid" data-interval="25000">
          <h3 class="testimonial-text">
            "By the present I like to express my full satisfaction to the Agent and Supervisors of Inflot for their
            excellent service and assistance during Vessel's stay in Odessa. With my best regards to the Management and
            all staff. I like my vessel under my command to come back again to Odessa"
          </h3>
          <img class="testimonial-img" src="../images/review_3.gif" class="d-block" alt="Review Document">
          <em>Master of m/v M.G.Tsangaris, Odessa, 27-Oct-72</em>
        </div>
        <div class="carousel-item container-fluid" data-interval="25000">
          <h3 class="testimonial-text">"On behalf of my Owners, the Ship's crew and myself, I feel obliged to express my
            sincere thanks and appreciation to the general manager of the port Odessa, Mr. M.Kalin, and to the general
            manager of Inflot, Mr. A.Voloshin, for the excellent arrangements and fine cooperation received towards the
            vessel's discharge in the shortest possible time."</h3>
          <img class="testimonial-img" src="../images/review_4.gif" class="d-block" alt="Review Document">
          <em>Capt. James Kosturos, Master SS National Defender, Odessa, 6-Jan-72</em>
        </div>
        <div class="carousel-item container-fluid" data-interval="25000">
          <h3 class="testimonial-text">
            "All my Vessell's, mine and my crews demands were carried out by you as like a swiss watch means a perfect
            way that is not seeing nowadays in shipping business. I would like to see you in shipping service in my all
            working life for the benefit of mine and shipping business."
          </h3>
          <img class="testimonial-img" src="../images/review_5_eng.gif" class="d-block" alt="Review Document">
          <em>Mr Lacca Ercan, Master of M.V. Manyas-1, Ilyichevsk, 4-Apr-2004</em>
        </div>

      </div>
      <a class="control carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="control carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <p><strong>Feedback about services provided by INFLOT is very important to us.</strong></p>
    <p>If you have any comments, complaints, suggestions or if you need any further information, please <a
        href="#contacts">contact us</a> by e-mail or telephone.

  </section>
  <section id="code" class="white-section">
    <h2>Code of Conduct of BSGSA "INFLOT"</h2>
    <hr>
    <p>
      Developing in pace with the global tendencies of confrontation to non-ethical principles and corruption in
      business relationship and activities, Black Sea General Shipping Agency "Inflot" has worked out "The Code of
      Conduct of BSGSA "Inflot"". This manual outlines the main principles and rules of ethical behaviour of company's
      employees. It provides both the description of company's philosophy and the regulations serving as a framework for
      employees in their daily activities (e.g. how to behave in case of encountering a request or an offer of a bribe,
      a gift, a hospitality etc).
    </p>
    <p>
      The Code is compiled in accordance with the fresh developments in this sphere and provides an essence of our
      vision and mission with regard to the global problems in human relations.
    </p>
    <p>The Code is available in two languages: Russian and English.

      <p>Загрузить <a href="../docs/code_eng.pdf">Кодекс Поведения ЧГМА "ИНФЛОТ"</a></p>
  </section>
  <section id="kindOfActivity" class="colored-section">
    <h2>Activities</h2>
    <hr>
    <p>Black Sea General Shipping Agency INFLOT is staffed by highly qualified personnel skilled in a whole range of
      maritime services. This broad base of knowledge and experience allows us to offer professional services as <a
        href="/activities/agency">Shipping Agent</a>, <a href="/activities/forwarding">Freight Forwarding</a>,
      <a href="/activities/logistic">Logistic Provider</a>, <a href="/activities/custombroker">Customs
        Broker</a>,<a href="/activities/legal">Legal Services</a>, Cargo Survey and <a
        href="/activities/marine">Marine Survey</a>.</p>
    <img src="../images/ship.jpg" alt="Photo Of Ship">
    <p>Established in the year 1934, we have been offering high class services to the Principals with maximum
      efficiency. INFLOT is constantly broadening spectrum of services and now we also provide wide range of <a
        href="/activities/tourism">Tourism</a>. In the modern dynamic market we promise to give best service at
      competitive price.</p>
    <hr>
    <p><a href="#contacts">Call or e-mail us</a> for free pro forma of disbursement account, freight rate quotes,
      schedules or other information about service interesting you in any Ukrainian Black Sea port</p>
  </section>
  <section id="ports" class="white-section">
    <h2>Port Info</h2>
    <hr>
    <p>
      The Black Sea Main Maritime Agency Info, which has been a leading maritime agent in Ukraine for many years, has a
      developed regional network of <a href="#branchOffice">branches</a> in all major Ukrainian-Black Sea and river
      ports, which allows our company to effectively satisfy needs to our Service Principles.
    </p>
    <img src="../images/port.jpg" alt="Image Of Port">
    <hr>
    <p>
      Detailed information regarding any Ukrainian port you are interested in at the links below:
    </p>
    <ul>
      <li><a href="/ports/bdport">Belgorod-Dnestrovsky Merchant Sea port</a></li>
      <li><a href="/ports/ilport">Chernomorsk Commercial Sea port</a></li>
      <li><a href="/ports/ilfishport">Chernomorsk Sea Fishing port</a></li>
      <li><a href="/ports/OdessaSeaPort">Odessa Merchant Sea port</a></li>
      <li><a href="/ports/yuport">Yuzhny Merchant Sea port</a></li>
      <li><a href="/ports/nikport">Nikolaev Merchant Sea port</a></li>
      <li><a href="/ports/nikrivport">Nikolaev River port</a></li>
      <li><a href="/ports/octport">Oktyabrsk Specialized Sea port</a></li>
      <li><a href="/ports/dnbport">Dnepro-Bugsky Sea port</a></li>
      <li><a href="/ports/ochakovport">Ochakov port</a></li>
      <li><a href="/ports/khersonport">Kherson Merchant Sea port</a></li>
      <li><a href="/ports/skport">Skadovsk Merchant Sea port</a></li>
      <li><a href="/ports/dniprorivs#kherson">Kherson River port</a></li>
      <li><a href="/ports/dniprorivs#novkah">Novaya Kahovka River port</a></li>
      <li><a href="/ports/dniprorivs#zap">Zaporozhye River port</a></li>
      <li><a href="/ports/dniprorivs#dnipro">Dnepropetrovsk River port</a></li>
      <li><a href="/ports/dniprorivs#kremen">Kremenchug River port</a></li>
      <li><a href="/ports/dniprorivs#cherk">Cherkassy River port</a></li>
      <li><a href="/ports/dniprorivs#kiev">Kiev River port</a></li>
    </ul>
  </section>
  <section id="marks" class="colored-section">
    <h2>Disbursement Account Estimate</h2>
    <hr>
    <p>We provide our customers with the most relevant and reliable information about the basic levels of port charges,
      rates and tariffs for the transportation and transshipment of goods, recommendations for saving ship expenses. We
      always strive to be creative in finding all possible feasible ways to minimize the various components of the
      disbursement account for your ship.</p>
    <p><a href="#contacts"> Call or email us </a> to calculate the pro forma disbursement account for your vessels
      calling at the Ukrainian ports of the Black Sea.</p>
    <img src="../images/mark-img.jpg" alt="Image Of Marking Of BGSCA INFLOT">
    <hr>
    <p>A preliminary estimate of the size of the disbursement account in any Ukrainian Black Sea port you are interested
      in using the links below:</p>
    <ul>
      <li><a href="/ports/DA_Estimate/bdportmark">Belgorod-Dnestrovsky Merchant Sea port</a></li>
      <li><a href="/ports/DA_Estimate/ilportmark">Chernomorsk Commercial Sea port</a></li>
      <li><a href="/ports/DA_Estimate/odportmark">Odessa Merchant Sea port</a></li>
      <li><a href="/ports/DA_Estimate/yuportmark">Yuzhny Merchant Sea port</a></li>
      <li><a href="/ports/DA_Estimate/nikportmark">Nikolaev Merchant Sea port</a></li>
      <li><a href="/ports/DA_Estimate/nikrivportmark">Nikolaev River port</a></li>
      <li><a href="/ports/DA_Estimate/octportmark">Oktyabrsk Specialized Sea port</a></li>
      <li><a href="/ports/DA_Estimate/dnbportmark">Dnepro-Bugsky Sea port</a></li>
      <li><a href="/ports/DA_Estimate/khersonportmark">Kherson Merchant Sea port</a></li>
      <li><a href="/ports/DA_Estimate/skportmark">Skadovsk Merchant Sea port</a></li>
    </ul>
  </section>
  <section id="contacts" class="white-section">
    <h2>Contacts</h2>
    <hr>
    <h3>Odessa Head Office INFLOT</h3>
    <p><b>Address:</b> Tamozhennaya Sq.1, Odessa, 65026, Ukraine
      <br>tel: +38(048)7223902
      <br>fax: +38(048)7293209
      <br>e-mail: <a href="mailto: office@inflot.odessa.ua">office@inflot.odessa.ua</a></p>

    <h3>Odessa Shipping Agency</h3>
    <p><b>Address:</b> Tamozhennaya Sq.1, Odessa, 65026, Ukraine
      <br>telex: (0680)732161 INF UX
      <br>fax: +38(048)7294645
      <br>tel: +38(048)7294903 / 7248579
      <br>e-mail: <a href="mailto: Odessa@inflot.odessa.ua">Odessa@inflot.odessa.ua</a>
    </p>

    <h3>Belgorod-Dnestrovsky Shipping Agency INFLOT</h3>
    <p>tel: +38 (04849) 22201 / 63340
      <br>e-mail: <a href="mailto: agency@inflot-bd.com.ua">agency@inflot-bd.com.ua</a></p>

    <h3>Chernomorsk Shipping Agency INFLOT</h3>
    <p>tel: +38(048)7600522/ 7600521
      <br>e-mail: <a href="mailto: Illichevsk@inflot.odessa.ua">Illichevsk@inflot.odessa.ua</a></p>

    <h3>Yuzhny Shipping Agency
      INFLOT</h3>
    <p><b>Address:</b> Tamozhennaya Sq.1, Odessa, 65026, Ukraine
      <br>tel: +38(048)7294903 / 7248579
      <br>telex: (0680)732161 INF UX
      <br>fax: +38(048)7293801
      <br>e-mail: <a href="mailto: Yuzhny@inflot.odessa.ua">Yuzhny@inflot.odessa.ua</a></p>

    <h3>Nikolaev Shipping Agency INFLOT</h3>
    <p>
      tel: +38(0512) 445350
      <br>fax: +38(0512) 445351
      <br>e-mail: <a href="mailto: Nikolaev@inflot.odessa.ua">Nikolaev@inflot.odessa.ua</a></p>

    <h3>Kherson Shipping Agency INFLOT</h3>
    <p><b>Address:</b> Tamozhennaya Sq.1, Odessa, 65026, Ukraine
      <br>tel/fax: +38(0552)325308/325328/223596/492593/491526
      <br>telex: (0680) 273114 INF UX / (0680) 732188 INF UX
      <br>duty agent mobile: +38(050)3966734
      <br>e-mail: <a href="mailto: inflot@utel.net.ua">inflot@utel.net.ua</a></p>
    <p>
      <b>Agents at Skadovsk port:</b>
      <br>tel: +38(05537)54497
      <br>e-mail: <a href="mailto: Skadovsk@inflot.odessa.ua">Skadovsk@inflot.odessa.ua</a>
    </p>
    <h3>Kiev Representative Office INFLOT</h3>
    <p>
      tel/fax: +38(044)2880556
      <br>e-mail: <a href="mailto: kiev@inflot.odessa.ua">kiev@inflot.odessa.ua</a></p>

  </section>
</main>

<%- include("partials/Eng/MainPAgeFooter"); -%>