
</head>

<body>
	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
	<div id="page-preloader"><span class="spinner"></span></div>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="nav">
			<a class="navbar-brand" href="/">INFLOT</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form class="form-inline my-2 my-lg-0">
					<button class="btn btn-outline-light my-2 my-sm-0 addEN" type="submit">EN</button>
					<button class="btn btn-outline-light my-2 my-sm-0 btn-margin addRU" disabled>RU</button>
				</form>
			</div>
		</nav>
	</header>