<%- include("../../partials/Eng/SubPages/PagesTitle"); -%>
<title>Белгород-Днестровское МА "Инфлот"</title>
<%- include("../../partials/Eng/SubPages/PagesNavbar"); -%>

<article class="white-section">
	<h2>Белгород-Днестровское МА "Инфлот"</h2>
	<hr>
	<img src="../images/bd.jpg" alt="Image Of Belgorod-Dnestrovskiy">
	<h3>Порты:</h3>
	<ul>
		<li><a href="/ports/bdport">Белгород-Днестровский морской торговый порт</a> - <a href="bdportmark.html">оценка
				Д/С</a></li>
		<li>Портопункт Бугаз</li>
	</ul>
	<h3>Виды деятельности:</h3>
	<ul>
		<li><a href="/activities/agency">Агентирование</a></li>
		<li><a href="/activities/forwarding">Экспедирование</a></li>
		<li><a href="/activities/custombroker">Таможенный брокер</a></li>
	</ul>

	<h3>Персонал:</h3>
	<p>
		тел: +38 (04849) 22201 / 63340
		<br>эл.почта: <a href="mailto: agency@inflot-bd.com.ua">agency@inflot-bd.com.ua</a></p>
	<button type="submit" class="btn btn-outline-primary main">На Главную</button>
	<button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>
</article>
<%- include("../../partials/Eng/SubPages/PagesFooter"); -%>