<%- include("../../partials/Eng/SubPages/PagesTitle"); -%>
<title>Черноморское МА "Инфлот"</title>
<%- include("../../partials/Eng/SubPages/PagesNavbar"); -%>
<article class="white-section">
  <h2>Черноморское МА "Инфлот"</h2>
  <hr>
  <img src="../images/ilich.jpg" alt="Image Of Chernomorsk">
  <h3>Порты:</h3>
  <ul>
    <li><a href="/ports/ilport">Черноморский морской торговый порт</a> - <a href="ilportmark.html">оценка Д/С</a></li>
    <li><a href="/ports/ilfishport">Черноморский морской рыбный порт</a></li>
    <li>Черноморский судоремонтный завод</li>
  </ul>
  <h3>Виды деятельности:</h3>
  <ul>
    <li><a href="/activities/agency">Агентирование</a></li>
    <li><a href="/activities/forwarding">Экспедирование</a></li>
  </ul>

  <h3>Персонал:</h3>
  <p>
    тел: +38(048)7600522/ 7600521
    <br>факс: +38(048)7600778
    <br>эл.почта: <a href="mailto: Illichevsk@inflot.odessa.ua">Illichevsk@inflot.odessa.ua</a></p>
  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../../partials/Eng/SubPages/PagesFooter"); -%>