<%- include("../../partials/Eng/SubPages/PagesTitle"); -%>

<title>Служба агентирования и экспедирования
  ЧГМА "Инфлот"</title>
<%- include("../../partials/Eng/SubPages/PagesNavbar"); -%>

<article class="white-section">
  <h2>Служба агентирования и экспедирования
    ЧГМА "Инфлот"</h2>
  <hr>
  <img src="../images/odessa.jpg" alt="Photo Of Odessa Port">
  <h3>Порты:</h3>
  <ul>
    <li><a href="/ports/OdessaSeaPort">Одесский морской торговый порт</a> - <a href="odportmark.html">оценка Д/С</a>
    </li>
    <a href="/ports/OdessaSeaPort">
      <li>Одесский пассажирский терминал</li>
      <li>Нефтяной терминал</li>
      <li>Зерновой терминал</li>
      <li>Контейнерный терминал</li>
    </a>
    <li>Судоремонтный завод “Украина”</li>
  </ul>
  <h3>Виды деятельности:</h3>
  <ul>
    <li><a href="/activities/agency">Агентирование</a></li>
    <li><a href="/activities/logistic">Логистика</a></li>
    <li><a href="/activities/forwarding">Экспедирование</a></li>
  </ul>

  <h3>Персонал:</h3>
  <p>
    Адрес: Таможенная пл.1, Одесса, 65026, Украина
    <br>телекс: (0680)732161 INF UX
    <br>факс: +38(048)7294645
    <br>тел: +38(048)7294903 / 7248579
    <br>эл.почта: <a href="mailto: Odessa@inflot.odessa.ua">Odessa@inflot.odessa.ua</a></p>

  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../../partials/Eng/SubPages/PagesFooter"); -%>