<%- include("../../partials/Eng/SubPages/PagesTitle"); -%>
<title>МА "Инфлот" в порту Южный</title>
<%- include("../../partials/Eng/SubPages/PagesNavbar"); -%>

<article class="white-section">
  <h2>МА "Инфлот" в порту Южный</h2>
  <hr>
  <img src="../images/yuzhny.jpg" alt="Image Of Yuzhny">
  <h3>Порты:</h3>
  <ul>
    <li><a href="/ports/yuport">Южный морской торговый порт</a> - <a href="ports/DA_Estimate/yuportmark">оценка Д/С</a>
    </li>
    <li>Нефтяной терминал “Южный“</li>
    <li>Экспортно-импортный терминал навалочно-насыпных
      грузов ”Трансинвестсервис”</li>
  </ul>
  <h3>Виды деятельности:</h3>
  <ul>
    <li><a href="/activities/agency">Агентирование</a></li>
    <li><a href="/activities/forwarding">Экспедирование</a></li>
    <li><a href="/activities/custombroker">Таможенный брокер</a></li>
  </ul>

  <h3>Персонал:</h3>
  <p>
    телекс: (0680)732161 INF UX
    <br>факс: +38(048)7293801
    <br>тел: +38(048)7294903 / 7248579
    <br>эл.почта: <a href="mailto: Yuzhny@inflot.odessa.ua">Yuzhny@inflot.odessa.ua</a></p>
  <button type="submit" class="btn btn-outline-primary main">На Главную</button>
  <button type="submit" class="btn btn-outline-primary prev">Вернуться к Предыдущей Странице</button>

</article>
<%- include("../../partials/Eng/SubPages/PagesFooter"); -%>